
.top-container {
  justify-content: center;
  display: flex;
}

.input{
  background-color: #ede8d0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: black;
  border: 2px solid black;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin: 1vw 0 1vh 0;
}

.file-container{
  margin: auto;
}

.textbox{
  width: 40vw;
  height: 30vh;
  border: 2px solid black;
  background-color: #ede8d0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  white-space: pre-wrap; 
  overflow-y: auto;

}

.searchbar-container {
  text-align: center;
}

.searchbar{
  border: 2px solid black;
  background-color: #ede8d0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 8px;
  margin: 1vw 1vh;
  width: 40%;
}

.button-container {
  text-align: center;
}

.button { 
  margin: 0% 5% 5% 5%;
  background-color: rgb(243, 228, 207);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: black;
  border: 2px solid black;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.result-container{
  justify-content: center;
  margin-top: -5vh;
  margin-bottom: 10vh;
}

.highlighted-text{
  width: 80vw;
  height: 10vh;
  border: 2px solid black;
  background-color: #ede8d0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  white-space: pre-wrap; 
  margin: 1vh auto auto auto;
  overflow-y: auto;
}

.suggestions-list{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40%;
  margin: -1.5vh auto 3vh auto;
  list-style-type: none;
  padding: 0;
}

.suggestions-list li {
  padding: 5px;
  cursor: pointer;
  border: 2px solid black;
  margin-top: 1vh;
  background-color: #ede8d0;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
